/* HTML */
* {
	margin: 0 auto;
	box-sizing: border-box;
}

html {
	color: #FFFFFF;
	background: #4E443B;
	font: 14px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-align: center;
	word-wrap: break-word;
}


/* Embedded Page */
iframe {
	border: none;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
}


/* Text */
body {
	color: white;
}

h2, h3 {
	margin-bottom: 0.5em;
}

p {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

p:last-of-type {
	margin-bottom: 0.5em;
}

hr {
	border: 1px solid #272626;
	margin: 1em 0;
}

code {
	font-family: Consolas,"Liberation Mono","Courier New",monospace;
	padding: 0px 1px;
	border: 1px solid #1E1C1C;
}


/* List */
ol {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
	counter-reset: item;
}

ol>li {
	margin: 0;
	padding: 0 0 0 2em;
	text-indent: -2em;
	list-style-type: none;
	counter-increment: item;
}

ol>li:before {
	display: inline-block;
	width: 1.5em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: right;
	content: counter(item) ".";
}


/* Table */
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #1E1C1C;
	border-bottom: 0;
	border-right: 0;
	padding: 0;
	margin: 0;
}

th, td {
	border: 1px solid #1E1C1C;
	border-top: 0;
	border-left: 0;
	padding: 0.2em;
	margin: 0;
}

th { background: #C25027; }
td { background: #272626; }

tr.sticky {
	position: sticky;
	top: 0;
}

td.pad {
	background: #C25027;
	padding: 1px;
}


/* Buttons */
a {
	color: #FFEFB5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Images */
img {
	vertical-align: middle;
	margin: 5px;
}


/*** Custom Classes ***/


/* Basic Page Elements */

.pagebody {
	background: #1E1C1C;
	max-width: 1200px;
	width: calc(100% - 40px);
	padding: 15px;
}

/* Use with .pagebody for text-only pages */
.thin {
	max-width: 900px;
}

/* Center element in all directions */
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Add to div or p section to increase line spacing */
.bigspacing {
	line-height: 1.75em;
}

/* Header */

.pagehead {
	background: #33302e;
}

.pagehead > iframe {
	height: 70px;
}

.header {
	background: #33302e;
	height: 70px;
	position: relative;
}

/* Footer */

.pagefoot {
	background: #33302e;
}

.pagefoot > iframe,
.footer {
	height: 300px; /* adjust so everything fits */
}

.footer {
	background: #33302e;
	position: relative;
}

.fineprint {
	opacity: 60%;
	font-size: 0.8em;
	padding: 0 1em;
}


/* Standard Text Block */
.block {
	background: #33302E;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	padding: 15px;
	margin-top: 20px;
}

/* Header Block */
.block:first-of-type {
	color: #1E1C1C;
	background: #B6B4AE;
	font-size: 1.4em;
	margin-top: 0;
}


/* Columns that collapse with screen width. Values are hardcoded per page. */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
}

/* Specific to water page */
.water-page .col:first-of-type {
	width: 200px;
	margin-right: 15px;
}

.water-page .col {
	width: calc(100% - 215px); /* subtract total width of other .col elements */
}

@media screen and (max-width: 700px) {
	.water-page .col {
		width: 100% !important;
		margin: 15px 0 !important;
	}
}

/* Specific to credits page */
.credits-page .col:first-of-type,
.credits-page .col:last-of-type {
	width: 200px;
}

.credits-page .col {
	width: calc(100% - 400px); /* subtract total width of other .col elements */
}

@media screen and (max-width: 750px) {
	.credits-page .col {
		width: 100% !important;
	}
}

/* Specific to footer */
.footer .col {
	width: 32%;
	margin-right: 2%;
}

.footer .col:last-of-type {
	margin-right: 0;
}

@media screen and (max-width: 550px) {
	.footer .col {
		width: 100% !important;
		margin: 0 0 2em 0 !important;
	}

	.footer .col:last-of-type {
		margin-bottom: 0 !important;
	}

	.footer,
	.pagefoot > iframe {
		height: 690px; /* adjust so everything fits */
	}
}


/* VMT keys */
.key {
	font-weight: bold;
}

/* Stuff for water page */
.regular {
	background: #257EF1;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.expensive {
	background: #DD433D;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.cheap {
	background: #339B08;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.fallback {
	background: #BF4CB4;
	font-weight: bold;
	padding: 0.25em 0.5em;
}
