/* HTML */
* {
	margin: 0 auto;
	box-sizing: border-box;
}

html {
	color: #FFFFFF;
	background: #4E443B;
	font: 14px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-align: center;
	word-wrap: break-word;
}


/* Embedded Page */
iframe {
	border: none;
	overflow: hidden;
	height: 70px;
	max-width: 1152px;
	width: calc(100% - 40px);
}


/* Text */
body {
	color: white;
}

h2, h3 {
	margin-bottom: 0.5em;
}

p {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

hr {
	border: 1px solid #272626;
	margin: 1em 0;
}

code {
	font-family: Consolas,"Liberation Mono","Courier New",monospace;
	padding: 0px 1px;
	border: 1px solid #1E1C1C;
}


/* List */
ol {
	text-align: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
	counter-reset: item;
}

ol>li {
	margin: 0;
	padding: 0 0 0 2em;
	text-indent: -2em;
	list-style-type: none;
	counter-increment: item;
}

ol>li:before {
	display: inline-block;
	width: 1.5em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: right;
	content: counter(item) ".";
}


/* Table */
table {
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #1E1C1C;
	border-bottom: 0;
	border-right: 0;
	padding: 0;
	margin: 0;
}

th, td {
	border: 1px solid #1E1C1C;
	border-top: 0;
	border-left: 0;
	padding: 0.2em;
	margin: 0;
}

th { background: #C25027; }
td { background: #272626; }

tr.sticky {
	position: sticky;
	top: 0;
}

td.pad {
	background: #C25027;
	padding: 1px;
}


/* Buttons */
a {
	color: #FFEFB5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Images */
img {
	vertical-align: middle;
}


/*** Div & Span Classes ***/


/* Basic Page Elements */
.pagehead {
	background: #33302e;
}

.pagebody {
	background: #1E1C1C;
	max-width: 1200px;
	width: calc(100% - 40px);
	padding: 15px;
}

/* Use with .pagebody for text-only pages */
.thin {
	max-width: 900px;
}

/* Navigation-Bar ONLY */
.navigation {
	background: #33302e;
	height: 70px;
	position: relative;
}

/* Center element in all directions */
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Standard Text Block */
.block {
	background: #33302E;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	padding: 15px;
	margin-top: 20px;
}

/* Header Block */
.header {
	color: #1E1C1C;
	background: #B6B4AE;
	font-size: 1.4em;
	margin-top: 0;
}

/* Used by the water info sheet and credits page for nice image display */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.col {
	float: left;
}

/* Specific to water info sheet */
.water-info-sheet > .col:first-of-type {
	width: 200px;
	margin-right: 15px;
}

.water-info-sheet > .col {
	/* important: subtract total width of other col classes */
	width: calc(100% - 215px);
}

/* this collapses .col elements if screen is less than X px wide */
@media screen and (max-width: 700px) {
	.water-info-sheet > .col {
		width: 100% !important;
	}
}

/* Specific to credits page */
.credits-page > .col:first-of-type {
	width: 200px;
}

.credits-page > .col {
	/* important: subtract total width of other col classes */
	width: calc(100% - 400px);
}

.credits-page > .col:last-of-type {
	width: 200px;
}

/* this collapses .col elements if screen is less than X px wide */
@media screen and (max-width: 750px) {
	.credits-page > .col {
		width: 100% !important;
	}
}

/* VMT keys */
.key {
	font-weight: bold;
}

/* Stuff for water info sheet */
.regular {
	background: #257EF1;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.expensive {
	background: #DD433D;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.cheap {
	background: #339B08;
	font-weight: bold;
	padding: 0.25em 0.5em;
}

.fallback {
	background: #BF4CB4;
	font-weight: bold;
	padding: 0.25em 0.5em;
}
